<div class="header-inner">

    <!-- Logo -->
    <div class="logo">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/img/logo-large.png"/>
        </a>
    </div>
    <!-- End Logo -->

    <!-- Mobile Navbar Icon -->
    <div class="nav-mobile nav-bar-icon">
        <span></span>
    </div>
    <!-- End Mobile Navbar Icon -->

    <!-- Navbar Navigation -->
    <div class="nav-menu singlepage-nav">
        <ul class="nav-menu-inner">
            <li>
                <a class="current" href="@Url.Action("Index", "Home")#intro">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")#about">About</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")#news">News</a>
            </li>

            <li>
                <a asp-controller="blog">Blog</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")#contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- End Navbar Navigation -->

</div>