@model LoginViewModel

@{
    Layout = "_Layout";
}

<section id="login" class="section-padding">
    <div class="container text-center">

        <h1>Login</h1>

        <div class="row">

            <div class="col-md-8 offset-md-2">

                <h2>@ViewData["Description"]</h2>

                <form method="post">

                    <div class="row justify-content-center">

                        <div class="col-sm-12 col-md-8">

                            <div class="row">
                                <div class="standard-control col-sm-12">
                                    <div class="control">
                                        <input class="form-control" asp-for="UserName" aria-label="UserName" autofocus placeholder="Username"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="standard-control col-sm-12">
                                    <div class="control">
                                        <input class="form-control" asp-for="Password" aria-label="Password" autofocus placeholder="Password"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="control">
                                        <input asp-for="RememberMe"/>
                                        <label asp-for="RememberMe">Remember me</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <input class="actions submit" type="submit" value="Sign in"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>