<!-- Sidebar -->
<nav id="sidebar">

    <div class="sidebar-header">
        <h4>Dashboard</h4>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="active">
            <a asp-controller="Files" asp-action="Index" asp-area="Dashboard">Files</a>
        </li>
        <li class="active">
            <a asp-controller="Posts" asp-action="Index" asp-area="Dashboard">Posts</a>
        </li>
        <li class="active">
            <a asp-controller="Sections" asp-action="Index" asp-area="Dashboard">Sections</a>
        </li>
        <li class="active">
            <a asp-controller="Testimonials" asp-action="Index" asp-area="Dashboard">Testimonials</a>
        </li>
        <li class="active">
            <a asp-controller="Partners" asp-action="Index" asp-area="Dashboard">Partners</a>
        </li>
            
    </ul>
</nav>