<div class="container text-center mb-60">
    <h1>About FlowerFest</h1>

    <p class="lead-lg">
        "The seed has now been sown to raise the profile of the creative side of all things floral and to show the joy to one's spirit by working with nature" Glenda 2018.
    </p>
    <h3>FlowerFest18</h3>
    <p class="lead-lg">
        The inspiration for FlowerFest18 came from a visit to the annual flower festival in Girona, Spain, Temps de Flors.
    </p>
    <p class="lead-lg">
        Their event has grown year on year (now in its 62nd year), and it continues to be the biggest revenue provider for Girona. The streets are lined with retailers and businesses showcasing their own creativity and ingenuity. From a small plant pot to the more elaborate window display of floral art, it is a feast for the eyes and senses. With local participation being key to its success it has become known as a community with a floral focus.
    </p>
    <p class="lead-lg">
        Walking the streets of Girona, it dawned on me that Christchurch would be the perfect venue for our own flower festival in Dorset. It would also highlight the opportunity and benefit to an area of health that is proven to improve by working with nature, the area of, Mental Health and Well-being.
    </p>
    <p class="lead-lg">
        So, in this inaugural year of FlowerFest18 all net profits will be donated to registered charity Dorset Mind, to improve support services for local young people.
    </p>
    <p class="lead-lg">
        Why get involved? More importantly, ask yourselves why not?
    </p>
    <br/>
    <p class="lead-lg">supporting:</p>
    <div class="main-support-logo">
        <a >
            <img src="~/img/minddorest-large.png" alt="minddorset"/>
        </a>
    </div>

</div>