<div class="container text-center mb-60">

    <h1>Business Participation</h1>
    <h3>How to get involved in FlowerFest18</h3>

    <p class="lead-lg">
        FlowerFest18 event will consist of a floral trial around Priory grounds running from the 13th June through to the 17th June.
        Here local companies are able to advertise in a different and creative style, all with a floral theme. Visitors will walk around the trial and enjoy and see local companies in a refreshing and innovative way. The visual effect is often remembered and associated with the creative image of the company.
        By sponsoring a dedicated area  a new form of 'living' advertising is possible.   Staff can get involved with a team camadraderie and produce a creative idea or companies can ask the FF18 team for inspiration of a design to help in their floral creation.  Some pitches around the Priory grounds are still available.
    </p>
    <p class="lead-lg">
        In the High Street, businesses are getting creative with floral window displays and shop displays.  A competition will run so the visitors can vote on the best window design and also the best installation creation at the Priory grounds!
    </p>
    <p class="lead-lg">
        Saxon Square will have a designated charity area to showcase the work of local mental health and wellbeing organisations and a Phoenix of flowers will rise above noticeboards to depict that it is possible to recover from mental health illness.
    </p>
    <p class="lead-lg">
        The Town Hall will become a community floral design area where the general public can partake, buy a flower and watch the design grow from the participation of the community. (the Town Hall is currently available to sponsor)
    </p>

    <p class="lead-lg">
        Over the weekend of the 16th and 17th June, The Red House Museum will become a hub of activity. There will be nature art workshops and floral demo's on the Saturday with Herbal demo and talk on the Sunday.
        Trade stand spaces are available over the weekend for those with a floral or nature/gardening basis to their business.
        There will also be local bands and some music.
    </p>
    
    <h3>Ways for companies to get involved</h3>

    <p class="lead-lg">
        If you are a company looking to support the community please sponsor an area, and please call to discuss the options available.
    </p>

    <p class="lead-lg">
        If you are interested in a trade stand over the weekend on the 16th and 17th June (& there are limited numbers)  please call
    </p>

    <h3>
        07799 641999 
    </h3>
    
    <p class="lead-lg">
        FlowerFest18 is a positive feel good factor for Christchurch to show TLC,  Together we Link the Community!
    </p>

</div>