@using FlowerFest.ViewModels.Home
@model HomeViewModel

<!-- Intro -->
<section id="intro" class="intro jarallax" >
    @{
        await Html.RenderPartialAsync("Intro");
    }
</section>

<!-- About -->
<section id="about" class="section-padding">
    @{
        await Html.RenderPartialAsync("About");
    }
</section>

<!-- Businesses -->
<section id="businesses" class="section-padding jarallax pos-section dark-bg bg-image overlay-dark"
         data-stellar-background-ratio="0.4" data-background-img="img/businesses.jpeg">
    @{
        await Html.RenderPartialAsync("Businesses");
    }
</section>

<!-- Visitors -->
<section id="businesses" class="section-padding"
         data-stellar-background-ratio="0.4" data-background-img="img/testimonals.jpg">
    @{
        await Html.RenderPartialAsync("Visitors");
    }
</section>

<!-- Testimonals -->
<section id="testimonials" class="section-padding jarallax pos-section dark-bg bg-image overlay-dark"
         data-stellar-background-ratio="0.4" data-background-img="img/testimonals.jpg">
    @{
        await Html.RenderPartialAsync("Testimonals", Model.Testimonals);
    }
</section>

<!-- News -->
<section id="news" class="section-padding">
    @{
        await Html.RenderPartialAsync("News", Model.RecentPosts);
    }
</section>

<!-- Supported -->
<section id="supported" class="section-padding jarallax bg-image dark-bg pos-section overlay-dark"
         data-stellar-background-ratio="0.4" data-background-img="img/supported.jpg">
    @{
        await Html.RenderPartialAsync("Supported");
    }
</section>

<!-- Contact -->
<section id="contact" class="section-padding">
    @{
        await Html.RenderPartialAsync("Contact", new ContactViewModel());
    }
</section>

<!-- Social -->
<section id="social" class="ptb-60 black-bg text-center dark-bg">
    @{
        await Html.RenderPartialAsync("Social");
    }
</section>