@{
    ViewData["Description"] = $"Home";
}

<div id="home" class="container-fluid">
    
    <div class="content-container">
        
        <div class="intro">
            <img class="logo" src="~/img/logo.png" alt="Flower Fest Logo" />
            <h1>13 - 17th JUNE 2018</h1>
            <h2>CHRISTCHURCH, DORSET</h2>

            <form method="post" asp-action="About">
                <input class="submit" type="submit" value="Learn More" />
            </form>
        </div>

    </div>
    
</div>