<!-- Static Intro -->
<div class="bg-image jarallax overlay-light" data-background-img="./img/intro.jpg">
    <div class="intro-container container">
        <div class="intro-content">
            <div class="intro-content-inner">
                

                <h2 class="intro-title mb-50">
                    FlowerFest
                </h2>
                <h1 class="alt-title intro-sub-title">
                    13 - 17th June 2018
                    <br>
                    Christchurch, Dorset
                </h1>
                <a class="btn btn-black-outline btn-lg scroll-down" href="#about">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
<!-- End Static Intro -->