
<div class="container">

    <h1 class="mb-60 text-center">Our Latest News</h1>

    @*<div class="row">

        <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
            <!-- Post -->
            <div class="blog-post">
                <div class="post-media">
                    <img src="img/blog/01.jpg" alt="blog" />
                </div>
                <div class="post-meta">
                    <span>by <a>John Doe</a>,</span>
                    <span class="post-date">06 Jan 2016</span>
                </div>
                <div class="post-header">
                    <h4 class="alt-title"><a href="">We denounce with righteous the indignation and dislike</a></h4>
                </div>
                <div class="post-tag">
                    <span><a href="#">Branding</a></span>
                    <span><a href="#">Design</a></span>
                </div>
            </div>
            <!-- End Post -->
        </div>

        <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <!-- Post -->
            <div class="blog-post">
                <div class="post-media">
                    <img src="img/blog/02.jpg" alt="blog" />
                </div>
                <div class="post-meta">
                    <span>by <a>John Doe</a>,</span>
                    <span class="post-date">04 Jan 2016</span>
                </div>
                <div class="post-header">
                    <h4 class="alt-title"><a href="">that they cannot foresee the pain and trouble that are bound</a></h4>
                </div>
                <div class="post-tag">
                    <span><a href="#">Branding</a></span>
                    <span><a href="#">Photography</a></span>
                </div>
            </div>
            <!-- End Post -->
        </div>

        <div class="col-md-4 col-sm-6 mb-sm-30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
            <!-- Post -->
            <div class="blog-post">
                <div class="post-media">
                    <img src="img/blog/03.jpg" alt="blog" />
                </div>
                <div class="post-meta">
                    <span>by <a>John Doe</a>,</span>
                    <span class="post-date">01 Jan 2016</span>
                </div>
                <div class="post-header">
                    <h4 class="alt-title"><a href="">which is the same as saying from through shrinking toil...</a></h4>
                </div>
                <div class="post-tag">
                    <span><a href="#">Branding</a></span>
                    <span><a href="#">Image</a></span>
                </div>
            </div>
            <!-- End Post -->
        </div>

    </div>

    <div class="rows text-center mt-60">
        <a href="#" class="link">View All Blog <i class="fa fa-angle-right right"></i></a>
    </div>*@

</div>