<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-2 col-sm-6 mb-sm-30">
            <div class="social-info">
                <a href="https://www.facebook.com/FlowerFest18/" target="_blank">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="fa fa-facebook-square"></i>
                    </div>
                </a>
                <p class="large">@@FlowerFest18</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-sm-30">
            <div class="social-info">
                <a href="https://twitter.com/FlowerFest18/" target="_blank">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="fa fa-twitter"></i>
                    </div>
                </a>
                <p class="large">@@FlowerFest18</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-sm-30">
            <div class="social-info">
                <a href="https://www.instagram.com/flowerfest18/" target="_blank">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="fa fa-instagram"></i>
                    </div>
                </a>
                <p class="large">@@FlowerFest18</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-sm-30">
            <div class="social-info">
                <div class="alt-icon-top alt-icon-color">
                    <i class="fa fa-mobile"></i>
                </div>
                <p class="large">+44 (0) 779 964 1999</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-sm-30">
            <div class="social-info">
                <div class="alt-icon-top alt-icon-color">
                    <i class="fa fa-envelope"></i>
                </div>
                <p class="large">
                    glenda.stansbury<br>
                    @@hotmail.com
                </p>
            </div>
        </div>
    </div>
</div>