<div class="container">
    <div class="row">

        <div class="col-md-3 col-sm-6 mb-sm-30">
            <div class="social-info">
                <a href="https://www.facebook.com/FlowerFest18/" target="_blank">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="icon-facebook"></i>
                    </div>
                </a>
                <p class="large">FlowerFest18</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-sm-30">
            <div class="social-info">
                <a href="https://twitter.com/FlowerFest18/" target="_blank">
                    <div class="alt-icon-top alt-icon-color">
                        <i class="icon-twitter"></i>
                    </div>
                </a>
                <p class="large">@@FlowerFest18</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-sm-30">
            <div class="social-info">
                <div class="alt-icon-top alt-icon-color">
                    <i class="icon-phone"></i>
                </div>
                <p class="large">+44 (0) 779 964 1999</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-sm-30">
            <div class="social-info">
                <div class="alt-icon-top alt-icon-color">
                    <i class="icon-envelope"></i>
                </div>
                <p class="large">
                    glenda.stansbury<br>
                    @@hotmail.co.uk
                </p>
            </div>
        </div>
    </div>
</div>