
<!-- page triangle shape -->
<div class="page-triangle white-bg"></div>
<!-- End page triangle shape -->

<div class="container text-center">
    <h2 class="mb-60">Supported By</h2>
    
    <div class="owl-carousel support-carousel">
        
        @foreach (var partner in Model.Partners)
        {
            <div class="item">
                <div class="support-logo">
                    <a href="@partner.Link">
                        <img src="@Url.Content(partner.Image)" alt="@partner.Name"/>
                    </a>
                </div>
            </div>
        }

    </div>

</div>