
<!-- Triangle -->
<div class="page-triangle white-bg"></div>

<div class="container">
    <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
        <div class="item">
            <div class="testimonial text-center max-width-700">
                <div class="page-icon-sm"><i class="icon-quote"></i></div>
                <h2>What People Say?</h2>
                <p class="lead-lg">We look forward to supporting FF18. Growing up in Christchurch it will be a fantastic to see it in bloom.</p>
                <h6 class="quote-author alt-title">Tom Le Mesurier <span class="text-regular">( Flora Direct )</span></h6>
            </div>
        </div>
        <div class="item">
            <div class="testimonial text-center max-width-700">
                <div class="page-icon-sm"><i class="icon-quote"></i></div>
                <h2>What People Say?</h2>
                <p class="lead-lg">The FlowerFest 18 is a very exciting prospect for Christchurch and the fact that it is being centred around the Priory Church in conjunction with the Priory Music Festival will give this new event the exposure it deserves during it’s inaugural year. As a neighbourhood business we are proud to be supporters.</p>
                <h6 class="quote-author alt-title">Tim Lloyd <span class="text-regular">( Captain's Club Hotel )</span></h6>
            </div>
        </div>
    </div>
</div>