<div class="container text-center mb-60">

    <h1>Visitors</h1>
    <h3>What to expect</h3>

    <p class="lead-lg">
        Christchurch will become the stage in this inaugural event, and on a visit to FlowerFest18 you may find yourself relaxing and wandering around the streets and grounds of Christchurch admiring the creative talent of local artists and organisations.
    </p>
    <p class="lead-lg">
        You may discover you learn more about the work of Mental Health and Well being organisations, or  perhaps you will feel inspired to partake in a nature based workshop.
    </p>
    <p class="lead-lg">
        A stroll around the Priory grounds is where you will find the largest number of the flower installations, designed and decorated by local companies. For anyone that is not familiar with the Christchurch Priory, it has stunning grounds with plenty of old ruins that alone capture the imagination, and we will be very excited to see them in bloom in what we hope will be a fair weather sunny June!
    </p>
    <p class="lead-lg">
        From the Priory grounds you can wander up Christchurch High Street, slowly taking in and enjoying the decorated shop fronts and browsing what our local shops and establishments have to offer. There will be a map you can follow showing participating businesses and a competition running where you can vote for your favourite window design and floral installation.
    </p>
    <p class="lead-lg">
        Saxon Square will become a dedicated area for our Mental health and well being charities and businesses & give you the opportunity to read about the amazing work they do for all members of our community.  Mental Health has had more attention in the media of late, but it is still vastly underfunded, so all net profits of the FlowerFest18 event will be going to Dorset Mind to help them raise monies for their local youth support services. (please see the link to Dorset MInd website)
    </p>

    <p class="lead-lg">
        We at FlowerFest18, truly believe in the power of working with nature and the benefits it can bring to anyone's well being.  We hope this alone will inspire you to support and attend this event.
    </p>

    <p class="lead-lg">
        Also in Saxon Square at the Town Hall we will have a floral community design area, where everyone can partake, buy a flower and add it to the blooming design. Over the duration of the festival we look forward to watching this design grow as support from the local Christchurch community takes hold.
    </p>
    
    <p class="lead-lg">
        If you attend FlowerFest18 over the weekend, then you will have the  opportunity to see some trade stands and partake in some of our art workshops and floral demonstrations.  These will be hosted in the tranquil setting of The Red House Museum.   So after following our trail through Christchurch, you can put your inspired mind to work and relax & watch some creative floral demonstrations on Saturday from our local floristry college, the Academy of Floristry.  Why not bring the family or let your child take part in the nature art workshop also running on the Saturday. With local music from local Ukuele bands, (about to be confirmed) we are sure this is the place to bring the family. 
    </p>
    <p class="lead-lg">
        Sunday will offer the chance to learn all about herbs with our Herbal talks and demonstrations in the Red House Museum's own sensory garden. 
    </p>
    <p class="lead-lg">
        So whatever you are doing in Christchurch between 13- 17 June 2018 make time for FlowerFest18, your support is valued and welcome.
    </p>
    <p class="lead-lg">
        The seed has been sown, lets make FlowerFest18 a bloomin' good idea for everyone in Christchurch .
    </p>
</div>