@import "variables";

input[type=submit] {
    padding: 3px 7px;
    display: block;
    font: inherit;
    width: 100%;
    margin: auto;
}

.actions {
    margin: 20px 0;
}

.submit, .submit.text {
    height: 42px;
    font-size: 1.6em;
    text-align: center;
    text-decoration: none;
    background-color: $brand_color;
    border-radius: 2px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    color: #fff !important;
    opacity: 1;
    transition: all .3s;
    display: block;
}

.actions .submit {
    margin: 0 0 10px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #333;
}

#home {
    width: 100%;
    text-align: center;

    .body-content {
        position: relative;
    }


    input[type=submit] {
        width: 200px;
    }

    form {
        width: 100%;
        text-align: center;
    }

    .logo {
        height: 180px;
    }

    h1, h2 {
        font-weight: bold;
        margin: 10px;
        padding: 4px;
        color: $brand_color;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.2em;
    }
}
