$footer_height: 140px;
$header_height: 56px;

$burger_width: 24px;
$burger_height: 24px;

$header_color: #eee;

$link_color: #0070be;
$text_color: #222;
$light-bg-color: #f7f7f7;

$brand_color: #693F71;

// Comments
$comments_bg_color: #f1f1f1;
$comments_border-color: #dfdfdf;
$comments_input_border-color: #bbb;
$comments_highlight_color: #ffec82;

$hamburger_width: 30px;
$hamburger_height: 2px;