$footer_height: 140px;
$header_height: 56px;

$burger_width: 24px;
$burger_height: 24px;

// background colors
$header_bg_color: #eee;
$comments_bg_color: #f1f1f1;
$footer_bg_color: #000;

$link_color: #0070be;
$text_color: #222;
$light_bg_color: #f7f7f7;

$brand_color: #693F71;

// comments
$comments_border_color: #dfdfdf;
$comments_input_border_color: #bbb;
$comments_highlight_color: #ffec82;

$hamburger_width: 30px;
$hamburger_height: 2px;