@import "variables";

.delete {
    color: crimson;
    float: right;
}

a.noline {
    text-decoration: none;
}

#edit {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.validation-summary-errors {
    background: #ffe6e6;
    color: darkred;
    padding: 5px;
    border-radius: 5px;
}
