@import "variables";

h4 {
    font-weight: 500;
}

ul {
    list-style: none;
    padding: 0;
}

header {

    a {
        color: $text_color;
        text-decoration: none;
    }
}

.categories {
    list-style: none;
    display: inline;
    padding: 0;

    li {
        display: inline-block;
    
        &:not(:first-child):not(:last-child):after {
            content: ", ";
        }
    }
}

.sidebar {
    margin: .4em 0;
}

.excerpt {
    padding: .5em 0;
}

@media (max-width: 991px) {
    .sidebar {
        display: none;
    }
}
