@import "variables";

#comments {
    background: white;
    padding: 1.3em 0;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;

    .name {
        font-weight: 600;
    }
    
    time {
        font-weight: normal;

        a {
            text-decoration: none;
        }
    }

    form {
        margin-top: 2em;

        &.js-enabled {
            display: block;
        }
    }

    .details {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        margin: -2px;
        transition: max-height .5s .5s ease-in-out;
        will-change: auto;

        &.show {
            max-height: 250px;
        }
    }

    article {
        margin-top: 1.5em;
    }

    .gravatar {
        float: left;
        /*box-shadow: 5px 5px 5px $comments_border-color;*/
        background: url("../img/avatar.svg?inline") no-repeat $comments_border-color;
        background-size: cover;
        height: 60px;
        width: 60px;

        img {
            width: 100%;
            height: auto;
        }
    }


    .content {
        margin-left: calc(60px);
        padding: 0 .4em;
        background: white;
        /*border: 1px solid $comments_border-color;*/
        /*box-shadow: 5px 5px 5px $comments_border-color;*/
        p {
            white-space: pre-wrap;
            margin-bottom: .5em;
        }
    }

    span {
        font-weight: bold;
    }


    :target .content {
        animation: target 3s ease-in-out;
    }

    ul, ol {
        padding-left: 2em;
    }
}