@import "variables";

#comments {
    background: $comments_bg_color;
    padding: 1.3em 0;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;

    .name {
        font-weight: 600;
    }
    
    time {
        font-weight: normal;
    }

    form {
        margin-top: 2em;

        &.js-enabled {
            display: block;
        }
    }

    .details {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        margin: -2px;
        transition: max-height .5s .5s ease-in-out;
        will-change: auto;

        &.show {
            max-height: 250px;
        }
    }

    article {
        margin-top: 1.5em;
    }

    .gravatar {
        float: left;
        background: url("../img/avatar.svg?inline") no-repeat $comments_border_color;
        background-size: cover;
        height: 60px;
        width: 60px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .content {
        margin-left: calc(60px);
        padding: 0 .4em;
        background: $comments_bg_color;

        p {
            white-space: pre-wrap;
            margin-bottom: .5em;
        }
    }
    
    :target .content {
        animation: target 3s ease-in-out;
    }
}