@import "variables";

#header {

    .navbar-header {
        height: $header_height;
        display: flex;
        align-items: center;
    }

    .navbar-toggler {
        border: 0;
    }

    .navbar {
        background-color: $header_bg_color;
        padding: 0;
    }

    .navbar-toggler {
        position: absolute;
        top: 0;
        right: 0;
        height: $header_height;
        border-color: transparent !important;
    }

    @media (max-width: 767px) {

        .navbar-header {
            width: 100%;
        }

        .navbar-brand {
            margin: auto;
            float: none;
            text-align: center;
        }
    }

    a {
        color: $brand_color;
        font-weight: 600;
        text-align: center;
    }

    a:hover {
        opacity: 0.7;
    }

    .hamburger-box {
        width: $hamburger_width;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: $hamburger_width;
        height: $hamburger_height;
        background-color: $brand_color;
    }
}