@import "variables";

#home {
    left: 0;
    top: $header_height;
    right: 0;
    bottom: $footer_height;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: linear-gradient( rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) ), url("../img/hero.jpg"), no-repeat, center, center, fixed;
    background-size: cover;

    .content-container {
        flex: 0 0 100%;
    }

    .intro {
        background-color: rgba(255, 255,255, 0.45);
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
    }

    .body-content {
        position: relative;
    }

    input[type=submit] {
        width: 200px;
        margin: auto;
    }

    form {
        width: 100%;
        text-align: center;
    }

    .logo {
        width: 550px;
        margin-bottom: -20px;
        padding: 20px;
    }

    h1, h2 {
        font-weight: 700;
        margin: 5px;
        padding: 4px;
        color: $brand_color;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.3em;
    }

    form {
        margin: 20px;
    }
}