@import "variables";

.body-content {
    padding-top: 30px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin-bottom: 20px;
}

.vcenter {
    top: $header_height;
    bottom: $footer_height;
    left: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;
}

html {
    min-height: 100%;
    position: relative;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    font: 16px/1.2 "Open Sans", Ubuntu, "Nimbus Sans L", Avenir, AvenirNext, "Segoe UI", Helvetica, Arial, sans-serif;
    margin-bottom: $footer_height;
    color: $text_color;
    padding-top: $header_height;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    animation: fade-in 1s ease;
}

b, strong {
    font-weight: 600;
}

a {
    color: $link_color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img, iframe {
    max-width: 100%;
}

img {
    height: auto;
}

ul, ol {
    padding-left: 2em;
}

time {
    color: lighten($text_color, 25%);
    font-size: .85em;
}

.categories {
    list-style: none;
    display: inline;
    padding: 0;

    li {
        display: inline-block;

        &:not(:first-child):not(:last-child):after {
            content: ", ";
        }
    }
}
